graphRAG Template (2).json
{
  "name": "graphRAG Template",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        48,
        -816
      ],
      "id": "3f88cbc2-dbaf-448d-b338-d2ea7a7f4484",
      "name": "When chat message received",
      "webhookId": "d6a2cffb-d094-47a7-9b06-fe16963636a1"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Route your question to the graphRAG tool with a single call. Once you get the response, return that exact response to the user immediately without any modifications, simply format it nicely."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        224,
        -816
      ],
      "id": "bfa6cb04-dcfb-4ae1-bf6b-b7b4cf603746",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        112,
        -608
      ],
      "id": "07f6e7bb-38b2-49ba-b483-866d5137ebb6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kX5rZbh5l5A7I4I7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        288,
        -608
      ],
      "id": "458648eb-623b-4378-8221-d75986dc1035",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lightrag-test.onrender.com/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "X-API-Key"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.chatInput }}"
            },
            {
              "name": "mode",
              "value": "mix"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        560,
        -608
      ],
      "id": "dcaa8396-58d4-4c91-b19f-a09c33d56acb",
      "name": "GraphRAG"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1vz5uAoD4DPzyxhRiGt3qfjcmSZRXA1mj",
          "mode": "list",
          "cachedResultName": "2) LightRAG Demo",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1vz5uAoD4DPzyxhRiGt3qfjcmSZRXA1mj"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "f93b808e-95b6-41d4-a071-17dff2957efe",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        -80
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hcZM0AC3Yd3WIo3v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        -256
      ],
      "id": "b328d964-d9d7-44a6-a16f-72e982e0f161",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='1vz5uAoD4DPzyxhRiGt3qfjcmSZRXA1mj' in parents and trashed=false",
        "returnAll": true,
        "filter": {},
        "options": {
          "fields": [
            "webViewLink",
            "id",
            "name",
            "mimeType"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -32,
        -256
      ],
      "id": "8f7706d1-647e-4777-a3d1-a0f96f783e6b",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hcZM0AC3Yd3WIo3v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        192,
        -256
      ],
      "id": "2f36c267-7464-40df-8065-097281bd8db1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
              "name": "file_url",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f4c20f4d-2009-4d04-a34d-5be87e84bb89",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        -240
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "7758e894-692d-408f-a166-ee494c4392e0",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        592,
        -240
      ],
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hcZM0AC3Yd3WIo3v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lightrag-test.onrender.com/documents/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "X-API-Key"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        -240
      ],
      "id": "9df4e8a9-537a-4139-88b2-11c7303dc91f",
      "name": "Upload Docs to LightRAG"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "'1vz5uAoD4DPzyxhRiGt3qfjcmSZRXA1mj' in parents and trashed=false",
        "returnAll": true,
        "filter": {},
        "options": {
          "fields": [
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        64,
        160
      ],
      "id": "a36fcdad-5365-492b-b70b-46e01d851d6e",
      "name": "Get File IDs",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hcZM0AC3Yd3WIo3v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        304,
        240
      ],
      "id": "ab4ed15b-739f-44dc-abf9-6077f62c3358",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// 1. Separate the inputs into two lists: one for Drive, one for LightRAG.\nconst driveItems = [];\nlet lightragData = null;\n\nfor (const item of items) {\n  if (item.json.name) {\n    // This looks like a Google Drive item\n    driveItems.push(item.json);\n  } else if (item.json.statuses) {\n    // This looks like the LightRAG item\n    lightragData = item.json;\n  }\n}\n\n// 2. Create a simple list of all valid file names from Google Drive.\nconst driveFileNames = driveItems.map(file => file.name);\n\n// 3. Get the list of all documents currently in LightRAG.\nconst lightragDocs = lightragData?.statuses?.processed || [];\n\n// 4. Filter the LightRAG list to find the orphans.\nconst orphans = lightragDocs.filter(doc => !driveFileNames.includes(doc.file_path));\n\n// 5. Return a new list containing ONLY THE IDs of the orphan documents.\nif (orphans.length === 0) {\n  return [{ json: { status: \"No orphans found.\" } }];\n}\n\nreturn orphans.map(orphan => ({ json: { id: orphan.id } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        240
      ],
      "id": "72f12782-6ec9-4063-b580-26a1fa6f7977",
      "name": "Code1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -176,
        240
      ],
      "id": "822cbfbd-2a60-4e18-8b1f-8ade85d4b2b8",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://lightrag-test.onrender.com/documents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "X-API-Key"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        384
      ],
      "id": "91a930d3-d7cd-4b06-99ba-00dfde38a218",
      "name": "Get LightRag Docs"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://lightrag-test.onrender.com/documents/delete_document",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "X-API-Key"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"doc_ids\": [\n    \"{{ $json.id }}\"\n  ],\n  \"delete_file\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        240
      ],
      "id": "87930330-fab3-4020-b8e5-3107a28b4696",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "content": "## Data Pipeline",
        "height": 560,
        "width": 1376
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -304,
        -464
      ],
      "id": "e56c6dcd-9afb-415e-852a-dd9d5d4cbcae",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Data Cleanup",
        "height": 464,
        "width": 1264,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -256,
        96
      ],
      "id": "d93ad75b-c4f0-478d-b0b9-d097ddf5a286",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1vz5uAoD4DPzyxhRiGt3qfjcmSZRXA1mj",
          "mode": "list",
          "cachedResultName": "2) LightRAG Demo",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1vz5uAoD4DPzyxhRiGt3qfjcmSZRXA1mj"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "ae582fb6-e90f-4d9f-8aad-70717dde1afe",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        -432
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hcZM0AC3Yd3WIo3v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AI Agent",
        "height": 464,
        "width": 800,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        -928
      ],
      "id": "2db8964a-46d3-4cdb-9172-6f92e86b464d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 💡 graphRAG AI Agent\n## | [Created by Chase AI](https://www.skool.com/chase-ai)\n\n## How it Works\n### - Queries are sent to LightRAG server\n### - LightRAG answers question via knowledge graph\n### - Answers are returned to the AI Agent\n\n## Features\n### - Data Ingestion Pipeline via G Drive\n### - Scheduled Data Cleanup\n\n## APIs Needed\n### - LightRAG\n### - Google\n### - OpenAI\n### - Cohere\n\n\n## LightRag GitHub\n### - [Click Here](https://github.com/HKUDS/LightRAG)",
        "height": 672,
        "width": 512,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -912,
        -512
      ],
      "id": "0bf1ecbd-9ba0-4267-92c0-de4577e38a24",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "@[youtube](YGRO2FHOOCU)",
        "height": 528,
        "width": 912,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1136,
        -480
      ],
      "id": "7d524fc8-1892-4379-b9dc-34babda728f0",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "GraphRAG": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Upload Docs to LightRAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Docs to LightRAG": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File IDs": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get File IDs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get LightRag Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LightRag Docs": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1808a34a-650e-4730-96e4-491cd134e898",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "858b0696cb7e4c2d54a791ff0d9e4a3cddc7a852434a593789da95c43379b467"
  },
  "id": "Bwcep5DWWvSF79a8",
  "tags": []
}