My workflow 16 (1).json
{
  "name": "My workflow 16",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        96,
        112
      ],
      "id": "01e20e73-6c5a-4b21-a065-d69975b1aa26",
      "name": "When chat message received",
      "webhookId": "d6a2cffb-d094-47a7-9b06-fe16963636a1"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Route your question to the graphRAG tool with a single call. Once you get the response, return that exact response to the user immediately without any modifications, simply format it nicely."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        272,
        112
      ],
      "id": "022df9cb-13b8-4fac-85c8-2d571c714b30",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        320
      ],
      "id": "853d7bea-59c7-4741-9f3f-17a99a3e1b26",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        336,
        320
      ],
      "id": "b8195c7b-1341-44d3-9b38-ad7adf88ce98",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lightrag-test.onrender.com/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "X-API-Key"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.chatInput }}"
            },
            {
              "name": "mode",
              "value": "mix"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        608,
        320
      ],
      "id": "28ad4fd6-1232-46a2-ab46-7bc3174335b1",
      "name": "GraphRAG"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1vz5uAoD4DPzyxhRiGt3qfjcmSZRXA1mj",
          "mode": "list",
          "cachedResultName": "2) LightRAG Demo",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1vz5uAoD4DPzyxhRiGt3qfjcmSZRXA1mj"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "fa64957c-c05a-4593-85f9-ba69fc3032f3",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        16,
        848
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        672
      ],
      "id": "8d031105-4795-41b7-ad24-3ddca151d223",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='1vz5uAoD4DPzyxhRiGt3qfjcmSZRXA1mj' in parents and trashed=false",
        "returnAll": true,
        "filter": {},
        "options": {
          "fields": [
            "webViewLink",
            "id",
            "name",
            "mimeType"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        16,
        672
      ],
      "id": "849a0c05-3ddc-495d-b1ee-7efba31ecc1c",
      "name": "Search files and folders"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        240,
        672
      ],
      "id": "425a2507-ff25-49c5-a0db-b903f69d802b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
              "name": "file_url",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7a40f580-22f7-4095-9f3e-7fdc7be5289b",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        688
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "fc6e113b-06eb-4d8d-accc-73d74ec1921f",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        640,
        688
      ],
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lightrag-test.onrender.com/documents/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "X-API-Key"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        688
      ],
      "id": "874cc4ad-7481-4965-83e3-2207ea79e470",
      "name": "Upload Docs to LightRAG"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "'1vz5uAoD4DPzyxhRiGt3qfjcmSZRXA1mj' in parents and trashed=false",
        "returnAll": true,
        "filter": {},
        "options": {
          "fields": [
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        112,
        1088
      ],
      "id": "d665cf5e-591d-4ab9-b855-e4eaf44a436e",
      "name": "Get File IDs"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        352,
        1168
      ],
      "id": "166f43ca-f85b-4797-beed-30ae49c65bb0",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// 1. Separate the inputs into two lists: one for Drive, one for LightRAG.\nconst driveItems = [];\nlet lightragData = null;\n\nfor (const item of items) {\n  if (item.json.name) {\n    // This looks like a Google Drive item\n    driveItems.push(item.json);\n  } else if (item.json.statuses) {\n    // This looks like the LightRAG item\n    lightragData = item.json;\n  }\n}\n\n// 2. Create a simple list of all valid file names from Google Drive.\nconst driveFileNames = driveItems.map(file => file.name);\n\n// 3. Get the list of all documents currently in LightRAG.\nconst lightragDocs = lightragData?.statuses?.processed || [];\n\n// 4. Filter the LightRAG list to find the orphans.\nconst orphans = lightragDocs.filter(doc => !driveFileNames.includes(doc.file_path));\n\n// 5. Return a new list containing ONLY THE IDs of the orphan documents.\nif (orphans.length === 0) {\n  return [{ json: { status: \"No orphans found.\" } }];\n}\n\nreturn orphans.map(orphan => ({ json: { id: orphan.id } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        1168
      ],
      "id": "a1554a72-7560-4df4-8b1e-2d28d4d1bd9d",
      "name": "Code1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -128,
        1168
      ],
      "id": "23dbb56f-dd9d-4410-b132-024b05ad649e",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://lightrag-test.onrender.com/documents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "X-API-Key"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        1312
      ],
      "id": "b9bee23c-e2b8-4810-a70a-3c5284c7aed8",
      "name": "Get LightRag Docs"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://lightrag-test.onrender.com/documents/delete_document",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "X-API-Key"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"doc_ids\": [\n    \"{{ $json.id }}\"\n  ],\n  \"delete_file\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        1168
      ],
      "id": "3841e31d-303f-43f3-be0e-83e1e9245d76",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "content": "## Data Pipeline",
        "height": 560,
        "width": 1376
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -256,
        464
      ],
      "id": "0f1a32f2-cd16-4062-a546-aa2321cd102c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Data Cleanup",
        "height": 464,
        "width": 1264,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        1024
      ],
      "id": "41e3b275-36e9-4f9f-82e9-d0abf4022aff",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1vz5uAoD4DPzyxhRiGt3qfjcmSZRXA1mj",
          "mode": "list",
          "cachedResultName": "2) LightRAG Demo",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1vz5uAoD4DPzyxhRiGt3qfjcmSZRXA1mj"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "14b323b0-c0fb-4b06-a45e-402abebebf55",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        16,
        496
      ]
    },
    {
      "parameters": {
        "content": "## AI Agent",
        "height": 464,
        "width": 800,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "631c44a7-a463-4949-b5c3-d1e63440c9d9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 💡 graphRAG AI Agent\n## |\n\n## How it Works\n### - Queries are sent to LightRAG server\n### - LightRAG answers question via knowledge graph\n### - Answers are returned to the AI Agent\n\n## Features\n### - Data Ingestion Pipeline via G Drive\n### - Scheduled Data Cleanup\n\n## APIs Needed\n### - LightRAG\n### - Google\n### - OpenAI\n### - Cohere\n\n\n## LightRag GitHub\n### - [Click Here](https://github.com/HKUDS/LightRAG)",
        "height": 672,
        "width": 512,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -864,
        416
      ],
      "id": "54e8700c-73da-4864-9d6a-1d1cc6802a89",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "GraphRAG": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Upload Docs to LightRAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Docs to LightRAG": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File IDs": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get File IDs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get LightRag Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LightRag Docs": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5fc08db3-1252-4f6d-b818-1f99b64d46bc",
  "meta": {
    "instanceId": "27344b50b8f0df78999cf11dab38bfd8f18f4d025f4e70dc31e8b6299e3e4a17"
  },
  "id": "hV7qYwmxQHhctsRr",
  "tags": []
}