Rohan Lodha Instagram Automation(incomplete).json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {},
      "name": "Cron Trigger - 5x Daily",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -2160,
        -1040
      ],
      "id": "0144883e-c209-46cc-ac84-888a47770fd9"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "name": "Download Fabric Image",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1740,
        -1040
      ],
      "id": "b9ee900b-8ec1-4a56-8bf4-80ef128852ba",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "p2f2HhB3aI2Ae7iY",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "fabricImage",
              "value": "={{ $binary.data }}",
              "type": "object"
            },
            {
              "name": "categories",
              "value": "=[\n  {\n    \"section\": \"Men\",\n    \"garments\": [\"Shirt\", \"T-Shirt\", \"Pants\", \"Kurta\", \"Jacket\"],\n    \"styles\": [\"Casual\", \"Formal\", \"Ethnic\", \"Western\"]\n  },\n  {\n    \"section\": \"Women\",\n    \"garments\": [\"Dress\", \"Blouse\", \"Saree\", \"Kurti\", \"Skirt\"],\n    \"styles\": [\"Casual\", \"Formal\", \"Ethnic\", \"Party Wear\"]\n  },\n  {\n    \"section\": \"Kids\",\n    \"garments\": [\"T-Shirt\", \"Dress\", \"Shorts\", \"School Uniform\"],\n    \"styles\": [\"Casual\", \"Formal\", \"Playful\", \"School\"]\n  }\n]",
              "type": "array"
            },
            {
              "name": "originalFileName",
              "value": "={{ $('Download Fabric Image').first().json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Clothing Categories",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1520,
        -1040
      ],
      "id": "3e27eb49-041b-4403-82bd-d17b6cbda818"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "selectedGarment",
              "value": "={{ $json.categories[0].garments[Math.floor(Math.random() * $json.categories[0].garments.length)] }}",
              "type": "string"
            },
            {
              "name": "selectedStyle",
              "value": "={{ $json.categories[0].styles[Math.floor(Math.random() * $json.categories[0].styles.length)] }}",
              "type": "string"
            },
            {
              "name": "selectedSection",
              "value": "={{ $json.categories[0].section }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Select Random Garment & Style",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1340,
        -1020
      ],
      "id": "e744804b-967d-4e73-9c9d-f7be954e223e"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "Create a high-quality, professional product photo of a {{ $json.selectedSection.toLowerCase() }}'s {{ $json.selectedGarment }} made from this fabric pattern. The garment should be {{ $json.selectedStyle }} style, displayed on a clean white background, studio lighting, professional fashion photography, 4K quality, suitable for e-commerce. The fabric pattern should be clearly visible and well-integrated into the garment design. Indian fashion brand style.",
        "options": {
          "size": "1024x1024"
        }
      },
      "name": "Generate Clothing Image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1140,
        -1040
      ],
      "id": "6ae01020-63be-4f7d-aad7-9d0d94abbc42",
      "credentials": {
        "openAiApi": {
          "id": "SEcMYEpdZun9BQES",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "text": "You are a social media expert for fashion brands. Create engaging captions with relevant hashtags for Indian clothing brands. Format the response as:\n\nInstagram: [Instagram caption with hashtags]\nFacebook: [Facebook caption with hashtags]\nYouTube: [YouTube description with hashtags]",
        "imageUrls": "={{ $('Generate Clothing Image').first().json.data[0].url }}",
        "options": {
          "detail": "high"
        }
      },
      "name": "Generate Captions",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -940,
        -1040
      ],
      "id": "002032a9-818e-44a6-adca-a8fb5dfa6763",
      "credentials": {
        "openAiApi": {
          "id": "SEcMYEpdZun9BQES",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "You are a creative content creator for fashion reels. Based on this clothing brand image and caption:\nImage : {{ $('Generate Clothing Image').first().json.data[0].url }}\nCaption: {{ $('Generate Captions').first().json.choices[0].message.content }}\n\nCreate a detailed video concept for a 10-second Instagram Reel that showcases this {{ $json.selectedGarment }} in {{ $json.selectedStyle }} style. Include:\n- Visual sequence (what happens in each second)\n- Camera movements\n- Music/audio suggestions\n- Text overlays\n- Transitions\n\nMake it engaging and suitable for fashion marketing."
            }
          ]
        },
        "options": {}
      },
      "name": "Generate Reel Concept",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -780,
        -1040
      ],
      "id": "10b52c1e-a79d-4f88-b266-e1b42296b6dd",
      "credentials": {
        "openAiApi": {
          "id": "SEcMYEpdZun9BQES",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/videos/generations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.openAiApi.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "sora-1.0"
            },
            {
              "name": "prompt",
              "value": "Fashion reel video: {{ $('Generate Reel Concept').first().json.choices[0].message.content }}. Create a professional, high-quality 10-second video showcasing a {{ $json.selectedGarment }} in {{ $json.selectedStyle }} style. Include smooth camera movements, good lighting, and fashion-forward presentation suitable for Instagram."
            },
            {
              "name": "duration",
              "value": "10"
            },
            {
              "name": "size",
              "value": "1080x1920"
            },
            {
              "name": "quality",
              "value": "standard"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "name": "Generate Reel Video with Sora",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        -1240
      ],
      "id": "76627b22-350f-4550-b00b-32c76236a6df",
      "credentials": {
        "openAiApi": {
          "id": "SEcMYEpdZun9BQES",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.video_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 300000
        }
      },
      "name": "Download Generated Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -300,
        -1040
      ],
      "id": "39538f89-13b2-45b1-baea-acc578b318a8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "generatedImageUrl",
              "value": "={{ $('Generate Clothing Image').first().json.data[0].url }}",
              "type": "string"
            },
            {
              "name": "captions",
              "value": "={{ $('Generate Captions').first().json.choices[0].message.content }}",
              "type": "string"
            },
            {
              "name": "reelConcept",
              "value": "={{ $('Generate Reel Concept').first().json.choices[0].message.content }}",
              "type": "string"
            },
            {
              "name": "videoUrl",
              "value": "={{ $('Generate Reel Video with Sora').first().json.video_url }}",
              "type": "string"
            },
            {
              "name": "fileName",
              "value": "={{ $json.selectedSection }}_{{ $json.selectedGarment.replace(/\\s+/g, '_') }}_{{ new Date().toISOString().slice(0,10) }}_{{ Math.random().toString(36).substr(2, 9) }}",
              "type": "string"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Parse AI Responses",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -140,
        -1040
      ],
      "id": "305db6af-f5db-4d96-9e60-1d758284444c"
    },
    {
      "parameters": {
        "name": "={{ $json.fileName }}.jpg",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root"
        },
        "options": {}
      },
      "name": "Save Generated Image",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        40,
        -1300
      ],
      "id": "5115151f-1ed1-4ebd-acae-90a6282fff3e",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "p2f2HhB3aI2Ae7iY",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.fileName }}.mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root"
        },
        "options": {}
      },
      "name": "Save Generated Video",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        40,
        -840
      ],
      "id": "175fc217-4964-43ca-9a92-9074d0c0912a",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "p2f2HhB3aI2Ae7iY",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_ID",
          "mode": "id"
        },
        "sheetName": "Content_Log",
        "options": {}
      },
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        200,
        -1080
      ],
      "id": "abbcb8f0-e3b4-4d71-b573-b3bdbc058d73",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X2B4y6OGJFlqJ9Nz",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "name": "Wait - Rate Limiting",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        380,
        -1080
      ],
      "id": "6784f8af-381a-4294-ac75-799d06a9b2cd",
      "webhookId": "a38310af-da84-47d1-ac9a-37ec3a04455c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v18.0/YOUR_INSTAGRAM_ACCOUNT_ID/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_INSTAGRAM_ACCESS_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "VIDEO"
            },
            {
              "name": "video_url",
              "value": "={{ $json.videoUrl }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.captions.split('Instagram')[1] ? $json.captions.split('Instagram')[1].split('Facebook')[0].trim() : 'New arrival! Check out our latest collection. #fashion #clothing #style' }}"
            },
            {
              "name": "access_token",
              "value": "YOUR_INSTAGRAM_ACCESS_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "name": "Instagram - Create Video Media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        -1220
      ],
      "id": "6353b185-a2a9-4cb2-b205-a741e905e385"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v18.0/YOUR_INSTAGRAM_ACCOUNT_ID/media_publish",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_INSTAGRAM_ACCESS_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $('Instagram - Create Video Media').first().json.id }}"
            },
            {
              "name": "access_token",
              "value": "YOUR_INSTAGRAM_ACCESS_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "name": "Instagram - Publish Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        -1100
      ],
      "id": "6cf8cbb8-b08b-4dd0-a639-7e4dd5fba296"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/YOUR_FACEBOOK_PAGE_ID/videos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_FACEBOOK_ACCESS_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "description",
              "value": "={{ $json.captions.split('Facebook')[1] ? $json.captions.split('Facebook')[1].split('YouTube')[0].trim() : 'Check out our latest fashion collection! Made with premium fabrics and contemporary designs.' }}"
            },
            {
              "name": "file_url",
              "value": "={{ $json.videoUrl }}"
            },
            {
              "name": "access_token",
              "value": "YOUR_FACEBOOK_ACCESS_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "name": "Facebook - Upload Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        -980
      ],
      "id": "197500ca-1cb6-4763-82a9-0bc0107a0a8c"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "✅ Content Generated Successfully!\n\n📱 Instagram Reel: Published\n📘 Facebook Video: Published\n🎬 Video: {{ $json.fileName }}.mp4\n🖼️ Image: {{ $json.fileName }}.jpg\n\nGenerated at: {{ $json.timestamp }}",
        "additionalFields": {}
      },
      "name": "Success Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        -920
      ],
      "id": "2e37265a-9a37-479a-9fff-c94c506b1928",
      "webhookId": "417932b8-3a25-4a11-94cd-9312c434d842"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "Fabric images",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1960,
        -1040
      ],
      "id": "f7a3b89f-a32c-4735-b306-275533ff0283",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "p2f2HhB3aI2Ae7iY",
          "name": "Google Drive account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Download Fabric Image": {
      "main": [
        [
          {
            "node": "Set Clothing Categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Clothing Categories": {
      "main": [
        [
          {
            "node": "Select Random Garment & Style",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Random Garment & Style": {
      "main": [
        [
          {
            "node": "Generate Clothing Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Clothing Image": {
      "main": [
        [
          {
            "node": "Generate Captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Captions": {
      "main": [
        [
          {
            "node": "Generate Reel Concept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Reel Concept": {
      "main": [
        [
          {
            "node": "Generate Reel Video with Sora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Reel Video with Sora": {
      "main": [
        [
          {
            "node": "Download Generated Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Generated Video": {
      "main": [
        [
          {
            "node": "Parse AI Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Responses": {
      "main": [
        [
          {
            "node": "Save Generated Image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Generated Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Generated Image": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Generated Video": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheets": {
      "main": [
        [
          {
            "node": "Wait - Rate Limiting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Rate Limiting": {
      "main": [
        [
          {
            "node": "Instagram - Create Video Media",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook - Upload Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram - Create Video Media": {
      "main": [
        [
          {
            "node": "Instagram - Publish Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram - Publish Video": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook - Upload Video": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron Trigger - 5x Daily": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download Fabric Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e2df3cfa-a193-4950-8756-df4d74415714",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "27344b50b8f0df78999cf11dab38bfd8f18f4d025f4e70dc31e8b6299e3e4a17"
  },
  "id": "lXecAPfL8NO3LrNL",
  "tags": [
    {
      "createdAt": "2025-07-04T19:57:12.594Z",
      "updatedAt": "2025-07-04T19:57:12.594Z",
      "id": "obkQJ7rmiwpFSn8x",
      "name": "Clothing Automation"
    }
  ]
}